.navbar-lewagon {
  justify-content: space-between;
  background: rgb(122, 207, 243);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}
