// Graphical variables
$primary-color: #46FFE0;

@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// // navbar.scss
// @import "config/navbar";

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
