<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('barco_banner_2.jpg') %>')">
  <div class="mb-5 px-5">
    <h1><strong>KOOLBOATS!</strong></h1>
    <p>Unlock the waves with ease. <br> Rent a boat or list yours to earn <br>with our seamless boat rental platform.</p>
    <%= link_to "List your boat!", new_boat_path, class: "btn btn-book rounded" %>
  </div>
</div>
